html, body{
	background-color: black;
	padding-top: 5rem;
	color: white;
}
#nav{
	background-color: dimgray;
	margin: 0;
	padding-left: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5rem;
	border-bottom: 0.5rem solid gray;
	color: white;

	display: flex;
	flex-direction: row;
	align-items: center;
}
#nav a{
	padding-right: 1rem;
	cursor: pointer;
	text-decoration: none;
}
#nav a:visited{
	color: white;
}

#errorMessage{
	color: white;
}

#content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.charList{
	display: flex;
	flex-direction: column;
	align-items: center;	
	color: white;
}

.char{
	width: 60vw;
	min-height: 7rem;
	background-color: dimgray;
	border-bottom: 0.5rem solid gray;
}
.charIcon{
	width: 5rem;
	height: 5rem;
}

#charForm{
	display: flex;
	flex-direction: column;
}
#charForm>*{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

